services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb-dev
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: mongodev
    ports:
      - 27018:27017
    volumes:
      - mongodb_data_container:/data/db

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - cache:/data
    networks:
      - app-network

  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.0
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
    networks:
      - app-network
    ports:
      - 9200:9200
    volumes:
      - es-data:/usr/share/elasticsearch/data
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 1000M
        reservations:
          cpus: "0.25"
          memory: 1000M

  kibana:
    container_name: kb-container
    image: docker.elastic.co/kibana/kibana:8.13.0
    environment:
      - ELASTICSEARCH_HOSTS=http://es-container:9200
    networks:
      - app-network
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 1000M
        reservations:
          cpus: "0.25"
          memory: 1000M

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    volumes:
      - minio_data:/data
    command: server /data

  # nestjs-production:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     target: production
  #   container_name: nestjs-production
  #   env_file:
  #     - .env.production
  #   ports:
  #     - "3002:3002"
  #   depends_on:
  #     - mongodb
  #     - postgres
  #     - minio

volumes:
  mongodb_data_container:
  postgres_data:
  minio_data:
  cache:
  es-data:

networks:
  app-network:
    driver: bridge
